.medlemContainer {
  justify-content: center;
  gap: 50px;
  margin: auto;
  color: white;
  background-color: #403d58;
  padding: 50px;

  img {
    width: 100%;
    border-radius: 7px;
  }
}

.medlemHeader {
  margin: auto;
  max-width: 900px;
  text-align: center;
  border-bottom: 3px solid white;

  h2 {
    font-size: 3rem;
  }
}

.medlemContent {
  text-align: left;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 80px;
  line-height: 30px;
}
