.medlemContainer {
  margin: auto;
  color: white;
  background-color: #403d58;
  padding: 11vw;

  img {
    width: 100%;
    border-radius: 7px;
  }
}

.medlemHeader {
  margin:  0 auto 1rem auto;
  max-width: 900px;
  text-align: center;
  border-bottom: 3px solid white;

  h2 {
    margin-top: 0;
    font-size: 3rem;
  }
}

.medlemContent {
  text-align: left;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  padding-top: 2rem;
  line-height: 30px;
}


@media only screen and (max-width: 800px) {
  .medlemContent{
    display: grid;
    grid-template-columns: 1fr;
  } 
  }
