.kontaktContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 70vh;
  max-width: 900px;
  margin: auto;
}

.kontaktImage {
  text-align: center;
}

.kontaktContent {
  margin-top: 20px;
  color: #333;
  font-size: 18px;
  padding: 50px;
  
  

  img{
    width: 100%;
  }
}

.kontaktHeader {
  max-width: 900px;
  margin: auto;
  text-align: center;
  border-bottom: 3px solid black;

  h2{
    font-size: 3rem;
  }
}
