.kontaktHeader {
  h2 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    border-bottom:3px solid #000;
    max-width: 900px;
  }
}

.kontaktContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 10rem 0;



.kontaktContent {
  margin-top: 20px;
  color: #333;
  font-size: 18px;
  padding: 15px;


}

iframe {
  width: 32vw;
  height: 42vh;
}
}