#about {
    background-color: #87CA7A;

    .about {
        margin: auto;
        padding: 3rem 0 1rem 0;
        font-size: 3rem;
        font-weight: 700;
        color: #eee;
        text-align: center;
        max-width: 900px;
        border-bottom: 3px solid #eee;
    }
   
    figure {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        figcaption {
            margin: 6.3rem;
            h2 {
                margin: 0 0 1rem 0;
                padding-top: 1rem;
                font-size: 2rem;
                font-weight: 500;
                color: #eee;
                
            }
            p {
                margin: 0 0 1rem 0;
                font-size: 1rem;
                font-weight: 500;
                color: #eee;
                letter-spacing: 0.1rem;

            }
        }
        img {
            margin: 5rem;
            width: 75dvh;
        }
    }
}

@media only screen and (max-width: 1680px) {
    #about {
        figure {
            figcaption {
                h2 {
                    
                    font-size: 1.5rem;
                }
                p {
                    font-size: 0.9rem;
                }
            }
            img {
                margin: 7rem;
                width: 60dvh;
            }
        }
    }
}

@media only screen and (max-width: 1415px) {
    #about {
        figure {
            figcaption {
                margin: 4rem;
            }
            img {
                margin: 4rem;
                width: 60dvh;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    #about {
        figure {
            figcaption {
                margin: 4rem;
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
            img {
                margin: 4rem;
                width: 55dvh;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #about {
        figure {
            display: flex;
            flex-direction: column;
            img {
                margin: 0 auto 4rem auto;
            }
        }
    }
}


@media only screen and (max-width: 520px) {
    #about {
        figure {
            img {
                width: 37dvh;
            }
        }
    }
}

