.headerContainer {
    position: relative;
    margin: 0;
    width: 100%;
    height: 500px;
    background-image: url('../../assets/images/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 0px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 12px 1px rgba(0,0,0,0.75);
    .content {
        position: absolute;
        top: 5rem;
        right: 0;
        left: 0;
        bottom: 0;
        h1 {
            margin-bottom: 0;
            font-size: 6rem;
            color: #eee;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }
        h2 {
            margin: 0.2rem 0 3.5rem 0;
            text-align: center;
            font-size: 3rem;
            color: #eee;
            text-shadow: 2px 2px 2px #000;
        }

        button {
            display: flex;
            align-items: center;
            margin-left: 45%;
            padding: 0.1rem 1rem 0.1rem 1rem;
            background-color: #87CA7A;
            border: 2px solid #333;
            border-radius: 5%;
            cursor: pointer;
            p {
                font-size: 1.1rem;
                font-weight: 700;
                color: #eee;
            }
            img {
                visibility: hidden;
                margin: 0 0 0 0.2rem;
                padding: 0;
                width: 1.6rem;
                opacity: 50%;
            }
        }
        button:hover {
            img {
                visibility: visible;
            }
        }
        
    }
}